@import 'Constants.css';

.Oven {
  display: flex;
  flex-direction: row;
  height: 70vh;
}

.Graph {
  flex: 0.8;
  width: 0;
  margin-right: 16px;
}

.Sidebar {
  flex: 0.2;
}

.Label {
  font-size: var(--font-size-small);
}

.Info {
  display: flex;
  flex-direction: column;
  color: var(--dark-200);
  background-color: var(--dark-900);
  padding: 12px;
  border: 2px solid var(--dark-200);
  border-radius: 16px;
  margin-bottom: 16px;
}

.Data {
  font-size: var(--font-size-normal);
}

.Buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.Buttons button {
  flex: 0.5;
  font-size: var(--font-size-normal);
  color: var(--dark-200);
  border: 2px solid var(--dark-200);
  border-radius: 16px;
  padding: 8px;
}

.Start {
  background-color: var(--dark-confirm);
  margin-right: 8px;
}

.Stop {
  background-color: var(--dark-remove);
  margin-left: 8px;
}