.DS_Store
.vscode

## KiCad
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*.net
*.dsn
*.ses
*.xml
*.csv

bom/
gerbers/

## React JS
package-lock.json

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
build

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

## ESP-IDF
build
sdkconfig
sdkconfig.old
dependencies.lock
managed_components/
